<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testando com meu amor na call</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #ff6347;
        }
        p {
            font-size: 18px;
            color: #333;
        }
    </style>
</head>
<body>
    <h1>Olá Jess Meu amoor!</h1>
    <p>Este é um teste para mostrar como é incrível compartilhar momentos com você, mesmo em uma call!</p>

    <footer>Usando Nodemon para atualizar!</footer>
</body>
</html>
